<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">FaceVault</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="memories" Match="NavLinkMatch.All">
                <span class="oi oi-camera" aria-hidden="true"></span> Memories
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="photo-map">
                <span class="oi oi-map-marker" aria-hidden="true"></span> Photo Map
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="database-scan">
                <span class="oi oi-eye" aria-hidden="true"></span> AI Analysis
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="duplicates">
                <span class="oi oi-layers" aria-hidden="true"></span> Duplicates
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="database-status">
                <span class="oi oi-hard-drive" aria-hidden="true"></span> Database
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="report">
                <span class="oi oi-graph" aria-hidden="true"></span> Report
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="settings">
                <span class="oi oi-cog" aria-hidden="true"></span> Settings
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="photo-scan">
                <span class="oi oi-pulse" aria-hidden="true"></span> Scan Progress
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
